<ul class="nav nav-tabs">

  <li class="active"><a href="#ciclo" data-toggle="tab">HORARIO</a>
  </li>
  <li><a href="#horario" data-toggle="tab">CICLO</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="ciclo" style="margin-top: 20px;">


    <div class="panel panel-info">
      <div style="height: 50px;" class="panel-heading">
        <label class="pull-right" for="">
          <button class="btn btn-success">AGREGAR MATERIA</button>
        </label>
      </div>
      <div class="panel-body">
        <div class="col-lg-6">
          <label for="">Elegir laboratorio</label>
          <div class="form-group">
            <legend for="sel1">Seleccione un laboratorio:</legend>
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <label for="">Elegir ciclo</label>
          <div class="form-group">
            <legend for="sel1">Seleccione un ciclo:</legend>
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>HORA</th>
                <th>LUNES</th>
                <th>MARTES</th>
                <th>MIÉRCOLES</th>
                <th>JUEVES</th>
                <th>VIERNES</th>
                <th>SÁBADO</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Default</td>
                <td>Defaultson</td>
                <td>def@somemail.com</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">

      </div>
    </div>


  </div>

  <div class="tab-pane" id="horario" style="margin-top: 20px;">


      <div class="panel panel-info">
          <div style="height: 50px;" class="panel-heading">
            <label for="">
             LISTA DE CICLOS
            </label>
          </div>
          <div class="panel-body">
            <div class="col-lg-6">
              <label for="">BUSCAR POR</label>
              <div class="form-group">
                
                <select class="form-control" id="sel1">
                  <option>Elegir un parámetro</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              
            </div>
            <div class="col-lg-6">
              <label for="">Bucar:</label>
              <input type="text" class="form-control" id="usr">
              
            </div>
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th>NOMBRE</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA FIN</th>
                 
    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                  </tr>
    
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
    
          </div>
        </div>
    


  </div>
</div>