
<div class= "col-lg-2"></div>
<div class="col-lg-8">
  <div class="panel panel-success">
    <div class="panel-heading">USUARIO
      <button [routerLink]='["/usuario-gestion"]' style="margin-left: 80%" class="btn btn-info">Nuevo usuario</button>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>NOMBRES COMPLETO</th>
            <th>ROL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usr of ListaTodoUsuario">
            <td>{{usr.nombrecompleto}}</td>

            <td>{{usr.nombre}}</td>
            <td  style="margin-left: 50%"> <button style="margin-left: 2%" class="btn btn-success">editar</button>
              <button   style="margin-left: 2%" class="btn btn-danger">eliminar</button></td>
              
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
<div class= "col-lg-2"></div>
