<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">




  <!--revisar esto-->

 
  

</head>

<body>


  <div class="container">

    <div class="col-md-12 center-block">
      <button [routerLink]='["/materia-gestion"]' class="btn btn-success center-block"><i class="fa fa-plus-circle"></i> Nueva materia</button>
    </div>



  </div>



  <div class="container border border-secondary">
    <h2>Lista de materias</h2>

    <div>
      <br>
      <div>
        <div class="col-lg-2">
          Buscar por:
        </div>
        <div class="dropdown col-lg-2">
            <button  class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{inputParametro}}
                <span class="caret"></span></button>
         
                <ul class="dropdown-menu">
                  <li *ngFor="let item of ListaParametro">
                    <label style="margin-right: 10px"(click)="CargarTipoParametro(item)">
                      {{item}}
                    </label>
                  </li>
                </ul>



          <!--ul class="dropdown-menu">
            <li><a>Código materia</a></li>
            <li><a>Nombre</a></li>
          </ul>-->
        </div>
        <div class="col-lg-4">
          <input class="form-control" id="idBusqueda" type="text" placeholder="Buscar..">
        </div>
      </div>
    </div>


    <div>


      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Código</th>

          </tr>
        </thead>
        <tbody id="myTable">
          <tr *ngFor="let materia of ListaTodasMaterias">
            
            <td>{{materia.nombre}}</td>

            <td>{{materia.codigo}}</td>
          </tr>
          
        </tbody>
      </table>

    </div>


    <div>
      <div class="col-md-6 center-block">
        <button class="btn btn-success center-block"><i class="fa fa-edit"></i> Editar</button>
      </div>
      <div class="col-md-6 center-block">
        <button class="btn btn-success center-block"><i class="fa fa-minus-circle"></i> Eliminar</button>
      </div>

    </div>


  </div>

  <script>
    $(document).ready(function () {
      $("#idBusqueda").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>




</body>

</html>