<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">




  <!--revisar esto-->




</head>

<body>

  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="panel panel-success">
      <div class="panel-heading">
        <button (click)="Acero()" data-toggle="modal" data-target="#myModal" class="btn btn-success center-block"><i
            class="fa fa-plus-circle"></i>
          Nueva materia</button>


      </div>

      <div class="panel-body">
        <h2 style="margin-left: 15px">Lista de materias</h2>
        <div>
          <br>
          <div style="margin-left: 15px">
            <div class="col-lg-2">
              Buscar por:
            </div>
            <div class="dropdown col-lg-4">
              <div class="form-group">
                <select class="form-control" id="sel1">
                  <option>Seleccione una opción</option>
                  <option *ngFor="let item of ListaParametro">{{item}}</option>

                </select>
              </div>


            </div>
            <div class="col-lg-4">
              <input style="margin-left: 40px" class="form-control" id="idBusqueda" [(ngModel)]="busquedamateria"
                type="text" placeholder="Buscar..">
            </div>
          </div>
        </div>

        <div class="col-lg-12">

          <div class="panel-body">

            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="col-lg-5">Nombre</th>
                  <th class="col-lg-5">Código</th>
                  <th class="col-lg-5">Estado</th>

                </tr>
              </thead>
              <tbody id="myTable">
                <tr class="active" *ngFor="let materia of ListaTodasMaterias | pipemateria:busquedamateria">

                  <td class="col-lg-5">{{materia.nombre}}</td>

                  <td class="col-lg-5">{{materia.codigo}}</td>
                  <td class="col-lg-5">{{materia.estado}}</td>
                  <td><button data-toggle="modal" data-target="#myModal" class="btn btn-success"
                      (click)="CambiarValor(materia.idmateria)"><i class="fa fa-edit"></i>
                      Editar</button></td>
                  <!-- <td><button class="btn btn-primary"
                      (click)="ActualizarEstadoMateria(materia.idmateria,materia.nombre,materia.codigo,materia.carrera,'ACTIVO')"><i
                        class="fa fa-plus-square-o"></i>
                      Activar</button></td>
                  <td><button class="btn btn-danger"
                      (click)="ActualizarEstadoMateria(materia.idmateria,materia.nombre,materia.codigo,materia.carrera,'INACTIVO')"><i
                        class="fa fa-minus-square-o"></i>
                      Desactivar</button></td> -->


                  <td *ngIf="materia.estado=='ACTIVO'">
                    <button class="btn btn-info"
                      (click)="ActualizarEstadoMateria(materia.idmateria,materia.nombre,materia.codigo,materia.carrera,'INACTIVO')"><i
                        class="fa fa-minus-square-o"></i>
                      Desactivar</button>
                  </td>
                  <td *ngIf="materia.estado=='INACTIVO'">
                    <button class="btn btn-info"
                      (click)="ActualizarEstadoMateria(materia.idmateria,materia.nombre,materia.codigo,materia.carrera,'ACTIVO')"><i
                        class="fa fa-plus-square-o"></i>
                      Activar</button>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>


      </div>


    </div>


  </div>
  <div class="modal modal-success" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">GESTIÓN DE MATERIAS</h4>
        </div>
        <div class="modal-body">

          <label for="mat">Nombre de la materia:</label>
          <input [(ngModel)]="inputMateria" type="text" class="form-control" id="mat">


          <label style="margin-top: 20px" for="mat">Código de la materia:</label>
          <input [(ngModel)]="inputCodigo" type="text" class="form-control" id="mat">


          <label style="margin-top: 20px" for="usr" style="margin-top: 20px">Carrera:<span style="margin-left: 5px"
              class="badge">{{inputCarrera}}</span></label>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Seleccione una
              carrera:
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <label (click)="select(1)" for="">Ingeniería de Sistemas</label>
              </li>
              <li>
                <label (click)="select(2)" for="">Ingeniería en Computación</label>
              </li>
              <li>
                <label (click)="select(3)" for="">Ingeniería en Software</label>
              </li>

            </ul>
          </div>






        </div>
        <div class="modal-footer">
          <button (click)="GuardarMateria()" class="btn btn-success glyphicon glyphicon-check"> GUARDAR</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



  <!---
    <div>
      <div class="col-md-6 center-block">
        <button class="btn btn-success center-block"><i class="fa fa-edit"></i> Editar</button>
      </div>
      <div class="col-md-6 center-block">
        <button class="btn btn-success center-block"><i class="fa fa-minus-circle"></i> Eliminar</button>
      </div>

    </div>-->








</body>

</html>