<form class="login-form">
  <div class="container">

      <div class="box">
          <div class="gallery">
              <div id="grad1"></div>
          </div>
          <div class="logo"></div>
          <h2 style="margin-top: 20px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">INGRESO</h2>
          <form (ngSubmit)="Login()">
              <div class="inputBox">
                  <input type="#{type}" id="name" name="nombre" required="required" [(ngModel)]="usuario" />
                  <label for="#{label}">USUARIO</label>
              </div>
              <div class="inputBox">
                  <input (keydown.enter)="onKeydown($event)" type="#{type}" id="password" name="password" required="required"
                      [(ngModel)]="password" />
                  <label for="#{label}">CONTRASEÑA</label>
              </div>
              <button type="submit" class="btn btn-primary" type="button" name="" (click)="valueChanged()">INGRESAR</button>
              <div *ngIf="error" class="alert alert-danger">
                  <strong>¡ERROR!</strong> Usuario o contraseña incorrectos
              </div>
          </form>
      </div>
  </div>
</form>

<div class="underlay-photo"></div>