<div class="container">
    <div class="panel panel-success col-lg-12">
      <div class="panel-heading">REGISTRO DE CICLOS</div>
  
      <div class="panel-body">
        <div class="col-lg-6">
          <label for="ciclo">Nombre del ciclo:</label>
          <input [(ngModel)]="inputCiclo" type="text" class="form-control" id="ciclo">
         
  
          <label style="margin-top: 20px" for="ciclo">Fecha de inicio:</label>
          <input [(ngModel)]="inputFechaIncio" type="text" class="form-control" id="ciclo">

          <label style="margin-top: 20px" for="ciclo">Fecha de fin:</label>
          <input [(ngModel)]="inputFechaFin" type="text" class="form-control" id="ciclo">
        </div>
  
      </div>
  
  
      <div class="panel-footer">
  
        <button (click)="GuardarCiclo()" class="btn btn-success glyphicon glyphicon-check"> GUARDAR</button>
        <button [routerLink]='["/horario"]' class="btn btn-danger pull-right glyphicon glyphicon-arrow-left"> REGRESAR</button>
      </div>
    </div>
  
  
  
  </div>