<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse mainNav">
    <a class="navbar-brand pull-right" style="margin-left: 100; ">{{parentData.name}}</a>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">ASOFT</a>


        </div>
        <ul class="nav navbar-nav clase">
            <li [routerLinkActive]='["link-active",4]'>
                <a [routerLink]="['/principal',parentData.name,0]" (click)='collapse()'>
                    <span class='glyphicon glyphicon-th-list'></span> Home
                </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/comunidad",parentData.name,0]' (click)='collapse()'>
                    <span class='glyphicon glyphicon-th-list'></span> Comunissssdddsssdadddd
                </a>
            </li>

            <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/usuario"]' (click)='collapse()'>
                    <span class='glyphicon glyphicon-user'></span> Usuario
                </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/replica"]' (click)='collapse()'>
                    <span class='glyphicon glyphicon-cog'></span> Replicaddddddddddddddddddddddddddd

                </a>
            </li>




        </ul>

    </div>
</nav>