<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LABORATORIO FIS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">HOME</a></li>
     
      <li><a href="#">LABORATORIOS</a></li>
      <li><a href="#">HORARIOS</a></li>
      <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/usuario"]' >
              <span class='glyphicon glyphicon-th-list'></span> Home
          </a>
      </li>
    </ul>
  </div>
</nav>
  
